/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4{
    font-weight: 700;
}

body{
    position: relative;
    background-color: #f5f9fd;
    /* padding-top: 80px; */
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    font-size: 16px;
}

/* UTILITIES */
.container{
    width: 65%;
    margin: 0 auto;
}

.w100{
    width: 100%;
}

.w75{
    width: 75%;
}

.w70{
    width: 70%;
}

.w50{
    width: 50%;
}

.w333{
    width: 33.3%;
}

.w30{
    width: 30%;
}

.w25{
    width: 25%;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    color: #33475b;
    transition: 0.5s;
}

p{
    line-height: 28px;
}

.btn{
    font-size: 14px;
    display: inline-block;
    background-color: #fafcfe;
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
    padding: 10px;
    min-width: 85px;
    line-height: 1;
    text-align: center !important;
}

.btn.btn-orange{
    color: white;
    border: 1px solid transparent;
    background-color: #fe775a;
}
.btn-big{
    font-size: 14px;
    padding: 20px;
}

.btn.btn-marm{
    border: 1px solid transparent;
    background-color: #dadee0;
    font-size: 14px;
    margin: 12px 0;
}

/* DECORATION */
/* buttons */
a.btn.btn-orange:hover,
a.btn:hover {
    z-index: 2;
    color: white;
    background-color: #fda997;
    border: 1px solid transparent;
}

.btn.btn-marm:hover{
    border: 1px solid transparent;
    background-color: white;
    font-size: 14px;
    margin: 12px 0;
    text-decoration: none !important;
}

/* footer */
footer .container [class^=col] ul li a:hover,
footer .container .bottom .bottom .right-side ul li a:hover{
    color: dodgerblue;
    text-decoration: underline;
}

footer .container .col4 ul li:last-child a:hover{
    color: white;
    border-bottom: 4px solid white !important;
}

footer .container .bottom .top ul li a:hover{
    color: white;
    border-bottom: 4px solid white !important;
}

/* HEADER */
header .container [class*="side"] nav ul li{
    display: inline-block;
    list-style: none;
}

header .container [class*="side"] nav ul li:not(:last-child){
    margin-right: 15px;
}

header .container [class*="side"] a img{
    vertical-align: middle;
}

header .container .right-side *{
    text-align: right;
}

header {
    line-height: 80px;
}

header.top{
    background-color: #f5f9fd;
}

header.bottom{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 29px rgba(100, 100, 111, 0.2);
}

header.top .container .left-side nav ul li:nth-child(2){
    height: 18px;
    width: 2px;
    background-color: #33475b;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

header.top .container .right-side nav ul li:first-child a{
    color: #00a5be;
}

/* JUMBOTRON */
.jumbotron{
    height: 600px;
    background-color: #fef8ef;
    background-image: url('../img/jumbotron.png');
    background-repeat: no-repeat;
    background-position: 110% 12%;
}

.jumbotron .container{
    height: 100%;
}

.jumbotron .container .left-side{
    height: 100%;
    background: linear-gradient(0.25turn, transparent, #fef8ef, transparent);
    padding-top: 70px;
    padding-right: 120px;
}

.jumbotron .container .left-side h1{
    font-size: 42px;
    margin-bottom: 26px;
}

.jumbotron .container .left-side p{
    font-size: 14px;
    margin-bottom: 26px;
}

.jumbotron .container .left-side div{
    font-size: 12px;
    margin-top: 26px;
}

.jumbotron-garden{
    background-color: #afebe4;
    height: 80px;
}

.jumbotron-garden + hr,
.jumbotron + hr{
    border: none;
    border-bottom: 3px solid #33475b;
}

/* MAIN */
/* content1 */
main .content1 .container{
    text-align: center;
    padding: 50px 10%;
}

main .content1 .container img{
    width: 300px;
    margin-bottom: 22px;
}

main .content1 .container h2{
    font-size: 30px;
    margin-bottom: 22px;
}

/* content2 */
main .content2 .container{
    margin-bottom: 55px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

main .content2 .container .left-side{
    text-align: center;
    padding-top: 70px;
}

main .content2 .container .left-side img{
    width: 150px;
    margin-bottom: 24px;
}

main .content2 .container .left-side a{
    min-width: 150px;
}

main .content2 .container .right-side{
    padding: 70px 120px 70px 50px;
}

main .content2 .container .right-side h2{
    margin-bottom: 36px;
}

main .content2 .container .right-side p,
main .content2 .container .right-side p + h2{
    margin-bottom: 22px;
}

main .content2 .container .right-side p + h2{
    text-transform: uppercase;
    font-size: 20px;
}

main .content2 .container .right-side ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

main .content2 .container .right-side ul li::before,
main .content3 .container [class^=col] ul li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    color: #fe775a;
    margin-right: 10px;
}

/* content3 */
main .content3 .container{
    margin-bottom: 60px;
}

main .content3 .container [class^=col]{
    padding: 25px 35px 15px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

main .content3 .container [class^=col]:not(:last-child){
    margin-right: 5%;
}

main .content3 .container [class^=col] img{
    height: 110px;
    margin-bottom: 35px;
}

main .content3 .container [class^=col] p{
    margin-bottom: 55px;
}

main .content3 .container [class^=col] p + h2::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #33475b;;
    margin-bottom: 35px;
}

main .content3 .container [class^=col] h2{
    margin-bottom: 35px;
}

main .content3 .container [class^=col] p + h2{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 45px;
}

main .content3 .container [class^=col] ul{
    text-align: left;
    margin-bottom: 35px;
}

main .content3 .container [class^=col] ul li{
    list-style: none;
    line-height: 22px;
}

/* content4 */
main .content4{
    background-image: linear-gradient(to right, #02a6bb, #07b6ad);
    padding: 60px 0 35px;
    color: white;
    text-align: center;
}

main .content4 .container h2{
    font-size: 32px;
    margin-bottom: 45px;
}

main .content4 .container p{
    margin-bottom: 55px;
}

main .content4 .container [class^="col"]{
    padding: 25px 0;
}

main .content4 .container [class^="col"] img,
main .content4 .container [class^="col"] h2{
    margin-bottom: 15px;
}

main .content4 .container [class^="col"] h2{
    display: inline-block;
    font-size: 40px;
}

main .content4 .container [class^="col"] h2 + span{
    position: relative;
    bottom: 3px;
    left: 2px;
    font-size: 28px;
}

main .content4 .container [class^="col"]:not(:last-child){
    border-right: 1px solid white;
}

main .content4 .container hr{
    border: none;
    border-bottom: 1px solid white;
}

/* content5 */
main .content5 .container{
    padding: 60px 0;
}

main .content5 .container .top .left-side{
    padding-left: 80px;
    padding-right: 50px;
}

main .content5 .container .top .left-side h2{
    font-size: 48px;
    margin-bottom: 55px;
}

main .content5 .container .top .left-side p{
    margin-bottom: 60px;
}

main .content5 .container .top .right-side .top a img,
main .content5 .container .top .right-side .bottom a img{
    width: 130px;
    vertical-align: middle;
}

main .content5 .container .top .right-side .top a,
main .content5 .container .top .right-side .bottom a{
    display: inline-block;
    line-height: 75px;
}

main .content5 .container .top .right-side .top a:not(:last-child),
main .content5 .container .top .right-side .bottom a:not(:last-child){
    margin-right: 18px;
}

main .content5 .container .top .right-side .top,
main .content5 .container .top .right-side .bottom{
    text-align: center;
}

main .content5 .container .bottom .left-side{
    padding-top: 40px;
    padding-right: 120px;
}

main .content5 .container .bottom .left-side h2{
    font-size: 32px;
    margin-bottom: 36px;
}

main .content5 .container .bottom .left-side p{
    font-size: 14px;
    margin-bottom: 34px;
}

main .content5 .container .bottom .left-side div{
    font-size: 12px;
    margin-top: 34px;
}

main .content5 .container .bottom .right-side{
    text-align: right;
}

main .content5 .container .bottom .right-side img{
    width: 320px;
}

/* FOOTER */
footer{
    background-color: #32495b;
    color: #dadee0;
}

footer .container .top{
    padding: 40px 0 60px;
}

footer .container ul li{
    list-style: none;
}

footer .container ul li a{
    color: #dadee0;
}

footer .container [class^=col] ul li{
    list-style: none;
    line-height: 38px;
}

footer .container .top [class^=col] h3{
    font-size: 18px;
    color: white;
    margin-bottom: 22px;
}

footer .container .top .col4 ul li:nth-last-child(2) a{
    color: #32495b; 
}

footer .container .top .col4 ul li:last-child a{
    display: inline-block;
    width: 16px;
    line-height: 50px;
    border-bottom: 4px solid transparent;
}

footer .container .top .col4 ul li:last-child a:not(:last-child){
    margin-right: 26px;
}

footer .container .bottom .top ul{
    text-align: center;
}

footer .container .bottom .top ul li{
    display: inline-block;
    line-height: 60px;
}

footer .container .bottom .top ul li a{
    display: inline-block;
    line-height: 44px;
    border-bottom: 4px solid transparent;
}

footer .container .bottom .top ul li:not(:last-child){
    margin-right: 22px;
}

footer .container .bottom .top hr{
    border: none;
    border-bottom: 1px solid #dadee0;
}

footer .container .bottom .bottom{
    padding-bottom: 50px;
}

footer .container .bottom .bottom .left-side div{
    color: white;
    font-weight: 600;
    margin-top: 8px;
    font-size: 15px;
}

footer .container .bottom .bottom .right-side{
    text-align: right;
}

footer .container .bottom .bottom .right-side ul li{
    display: inline-block;
}

footer .container .bottom .bottom .right-side ul li:not(:last-child){
    margin-right: 22px;
}